.distance-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.distance-container >  * {
    background-color: rgba(0, 0, 0, 0.2);
    color:  #000;
    font-size: 11px;
    line-height: 18px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
}
