html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: small;
}


#map {
    width: 100%;
    height: 100%;
}



.ol-selectable {
	z-index: 3;
}
		
.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    padding: 15px;
	border-radius: 10px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    position: absolute;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 50%;
    margin-left: -11px;
}

.ol-popup-closer {
	text-decoration: none;
    position: absolute;
    top: 4px;
    right: 4px;
    text-align: center;
    width: 19px;
    color: #999;
    font-family: cursive;
    font-weight: bold;
}

.ol-popup-closer:after {
    content: "X";
}

#popup-content {
	font-size: 12px;
    line-height: 1.2;
    margin-top: 5px;
	max-height: 70vh;
	max-width: 70vw;
	overflow: auto;
}

#popup-content ul {
    list-style-type: none;
    padding-left: 0;
	margin: unset;
}

#popup-content li {
    margin-bottom:0.25em;
}

#popup-content>ul>li>a {
    position: relative;
    display: block;
    padding: 2px;
    border-bottom: 1px solid #666;
    font-size: 12.5px;
}

#popup-content>table {
    font-size: 11.4px;
}

th, td {
    vertical-align: top;
    text-align: left;
	color: #333;
}

th {
	min-width: 100px;
}
td {
	min-width: 100px;
}

td img {
	max-height: 60vh!important;
	max-width: 60vw!important;
}

td video {
	max-height: 60vh!important;
	max-width: 60vw!important;
}


.ol-attribution a {
    text-decoration: none;
    color: #666;
    font-family: sans-serif;
    font-size: 100%;
}

.layer-switcher .panel {
    //border: 4px solid rgba(0,60,136,.5) !important;
    //border-radius: 4px !important;
}

.layer-switcher {
    top: 0.5em;
    bottom: unset!important;
}

.layer-switcher .panel {
	max-height: calc(100vh - 100px);
}



